#info {
    /* Higher than the scene's z-index to ensure it's on top */
    z-index: 2;
    /* centers the window on screen */
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 1rem;
    /* shape and dye the square */
    width: 50%;
    height: auto;
    border-radius: 32px;
    /* Adjust the background color for slight transparency */
    background-color: rgba(241, 242, 235, 0.7); /* slightly transparent */
    color: #566246; 
    /* content display */
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    }

    .personal-info {
        text-align: center;
        margin: 0 0 2%;
    }

    .personal-info h2 {
        color: #4A4A48;
    }

    .personal-info p {
        text-align:start;
        margin: 0 0 2%;
    }

    .personal-links {
        display: flex; 
        flex-direction: column; 
        align-items:center; 
        width: 100%;
    }

    .personal-info a {
        text-decoration: none; 
        color: #4A4A48; 
    }

    .personal-info a:hover {
        color: #00be53; /* Darker shade for hover state, adjust as needed */
    }
