.tool {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .tool:last-of-type {
    margin-bottom: 0;
  }

  .tool > span {
    margin: 0 1rem 0 0;
    padding: 0;
    flex: 1;
  }

  .tool > input {
    width: 60px;
    border-radius: 3px;
  }

  .tool > input[type="color"]{
    border: none;
    border-color: transparent;
    -webkit-appearance: none;
  }
  
  input::-webkit-color-swatch {
    border: none;
  }

  #toggleToolbox {
    position: fixed;
      z-index: 3;
      top: 20px;
      left: 20px;
      border: 1px solid #d4d7d6; /* Updated for clarity */
      border-radius: 8px; /* Rounded corners */
      background-color: #e6e6e6; /* Modern, flat design typically uses solid colors */
      color: #333333; /* Dark gray for contrast */
      padding: 2px 8px; /* Spacing inside the button */
      cursor: pointer; /* Cursor changes to a hand icon when hovered */
      font-size: 16px; /* Larger, more readable text */
      transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }

  #toggleToolbox:hover {
      background-color: #f0f0f0; /* Slightly darker when hovered for feedback */
  }

  .toolbox-visible {
      transform: translateX(140%);
  }

  #toolbox {
      /* size */ 
      width: 20%;
      height: auto;
      /* position when hidden */
      position: fixed;
      left: -30%; 
      top: 2%;
      transition: transform 1s cubic-bezier(0.42, 0, 0.58, 1);
      /* shape & colour */
      background-color: rgba(241, 242, 235, 0.8);
      color: #566246;
      padding: 1rem;
      border-radius: 12px;
  }